.bb-header-account {
    @apply mx-4 flex justify-center items-center;
}

.bb-account-logout {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #e5e5e5;
}

.bb-account-logout a {
    display: block;
    font-weight: 600;
    color: #111;
}

.bb-account-logout a:hover {
    color: #ec4899;
}

.account-menu {
    position: relative;
}

.account-menu > div:last-child {
    pointer-events: none;
}

.account-menu:hover > div:last-child {
    pointer-events: auto;
}

.account-wrapper {
    position: relative;
}

.account-dropdown {
    display: none;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    min-width: 190px;

    position: absolute;
    top: 100%;
    right: 0;

    background: #fff;
    z-index: 100;
}

.account-dropdown .bb-btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 8px;
    text-align: center;
    white-space: nowrap;

}

/* SHOW ON HOVER */
.account-wrapper:hover .account-dropdown {
    display: flex;
}

.account-dropdown .bb-btn:last-child {
    margin-bottom: 0;
}