/* Trust bar section */

.bb-trust-bar {
    background: #ffffff;
    border-top: 1px solid #ece7df;
    border-bottom: 1px solid #ece7df;
}

.bb-trust-bar__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 48px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.bb-trust-item {
    flex: 1;
}

.bb-trust-icon {
    width: 36px;
    flex-shrink: 0;
}

.bb-trust-icon img {
    display: block;
    width: 100%;
    height: auto;
}

.bb-trust-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bb-trust-content h3 {
    margin: 0;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 700;
    color: #111827;
}

.bb-trust-content p {
    margin: 3px 0 0;
    line-height: 1.4;
    color: #6b7280;
}


/*********************************************
Trust Bar
*********************************************/

.bb-trust-desktop {
    display: flex;
}

.bb-trust-mobile {
    display: none;
}

@media (max-width: 1280px) {
    .bb-trust-bar__container {
        padding: 15px 0px 30px;
    }
}

@media (max-width: 768px) {

    .bb-trust-desktop {
        display: none;
    }

    .bb-trust-mobile {
        display: block;
    }

}