<div class="payment-method">

    <div class="payment-method-title">

        <input type="radio"
               class="radio"
               checked="checked"/>

        <label>
            PayPal
        </label>

    </div>

    <div class="payment-method-content">

        <p>
            Pay securely using PayPal.
        </p>

        <button type="button"
                class="action primary"
                data-bind="click: continueToPayPal">

            <span>
                Continue to PayPal
            </span>

        </button>

    </div>

</div>